/*This CSS file will be used for defining how the various elements
will behave and where they will be located. There will be a separate
CSS file that will define all the colors.
This will allow the color theme to be changed easily. */

html {
    height: 100%;
}

#page-title {
    text-align: center;
    font-family: Arial;
    font-variant: small-caps;
    padding: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

body {
    min-height: 100%; /*for positioning footer*/
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: left;
}

.timeago {
    font-weight: bold;
}


h2.header2 {
  font-variant-caps: small-caps;
  font-family: sans-serif;
  white-space: nowrap;

}

p {
    text-align: left;
}

p.right {
    text-align: right;
    line-height: 100%;
    margin-right: 15px;
}

p.description{
    /*text-decoration: underline;*/
    text-align: left;
    margin-left: 10px;
}

a.link:link{
    color: #2715D6FF;
    text-decoration: none;
}
a.link:hover {
    font-size: 105%;
    text-decoration: underline;
}

/*--------------Style Filter and filter containers--------------------*/
.filter-form {
  margin-left: auto;
  margin-right: auto;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;

  margin-right: 20%;
  margin-left: 20%;
}

.filter-group {
  border: solid;
  border-width: thin;
  border-color: black;
  border-radius: 10px;
}

.filter-legend {
  font-variant-caps: small-caps;
  letter-spacing: 1pt;
  font-size: 10pt;
  font-weight: bold;
  /*font-weight: bolder;*/
  padding-right: 5px;
  padding-left: 5px;
  font-family: sans-serif;
}

.filter-container {
  display: inline-block;
  padding-bottom: 8px;
  padding-right: 10px;
}

.filter {
  font-weight: lighter;
  border: none;
  border-bottom: 1px solid black;
  display: block;
  padding-top: 0px;
  font-style: italic;
  font-size: 11pt;
  text-transform: lowercase;
  width: auto;
}

.labels {
  font-size: 11pt;
  font-variant-caps: all-petite-caps;
}

caption {
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
    /*font-variant-caps: all-small-caps;*/
}

.header-row {
  font-variant-caps: small-caps;
  text-align: center;
  font-size: 12pt;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
}

tr:nth-child(odd) {
    font-weight: bold;
}

#table, th, td {

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    padding-left: 3pt;
    padding-right: 5pt;
    padding-top: 2pt;
    padding-bottom: 2pt;

    width: auto;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1pt solid #808080;
    font-size: 10pt;
}


#footer {
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 10pt;
    line-height: 50%;
    text-align: right;
}

