<!DOCTYPE html>
<html lang = "en-US">
<head>
    <meta charset = "UTF-8">
    <title>{{title}}</title>
    {% for style in css_styles %}
    <link rel = "stylesheet" type = "text/css" href = "{{style}}"></link>
    {% endfor %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--use for filter plug-in-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    {% for js in javascripts %}
    <script type="text/javascript" src="{{js}}"></script>
    {% endfor %}
    <script>
        jQuery(document).ready(function() {
            jQuery("time.timeago").timeago();
            jQuery("#table").tablesorter();
            jQuery(".filter").multifilter();
            });
    </script>
</head>

<body>
    <div class="content theme-l5">
        <h1 id="page_title" class="theme-d1">{{title}}</h1>
        <div id="navbar" class="theme-d5">
        {% for category in categories %}
            <div class="dropdown">
                <button class="dropbtn theme-d5 hover-theme">{{category}}</button>
                <div class="dropdown-content">
                {% for k in range(categories[category][0]|length) %}
                    <a class=" theme-d4 hover-theme" href="{{categories[category][1][k]}}">{{categories[category][0][k]}}</a>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <h2>Description</h2>
        <p class="description">{{description}}</p>
        <div class="containter">
        {% for header in headers %}
        <label for="{{header}}" class="labels">{{header}}</label>
        <input type="search" id="{{header}}" autocomplete="off" class="filter" name="{{header}}" placeholder="{{header}}" data-col="{{header}}"/>
        {% endfor %}
        </div>
        <div class="containter">
            <table id="table">
                <caption class="caption theme-l3">Table Caption: {{caption}}</caption>
                <thead>
                    <tr>{% for header in headers %}<th>{{header}}</th>{% endfor %}</tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                    <tr>{% for cell in row %}{% if cell is not none %}<td>{{cell}}</td>{% else %}<td></td>{% endif %}{% endfor %}</tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <footer id="footer" class="theme-d5">
        <p class="right">Last updated: {{updated}}<br>
        <time class="timeago" datetime={{updated}} title="{{updated}}"></time>
          </p>
    </footer>
</body>