
.topnav {
    overflow: hidden;
}
/* Navbar container */
#navbar {
  overflow: hidden;
  /*font-family: Arial;*/
  /*font-variant-caps: small-caps;*/
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /*font-variant: small-caps;*/
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  font-variant: small-caps;
}

/* Add a background color to navbar links on hover */
/*.navbar a:hover, .dropdown:hover .dropbtn {
  /*background-color: #a5a5a5;
}
*/

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: sans-serif;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
