/*
=====================================================================
   Page Structure
=====================================================================
*/

html {
    height: 100%;
}

body {
    min-height: 100%; /*for positioning footer*/
    display: grid;
    grid-template-rows: 1fr auto;
    text-align: left;
}

#page-title {
    text-align: center;
    font-family: Arial;
    font-variant: small-caps;
    padding: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#footer {
    grid-row-start: 2;
    grid-row-end: 3;

    font-size: 10pt;
    line-height: 50%;
    text-align: right;
}


/*
=====================================================================
   Typography
=====================================================================
*/

h2.header2 {
  font-variant-caps: small-caps;
  font-family: sans-serif;
  white-space: nowrap;
}

p {
    text-align: left;
}

p.right {
    text-align: right;
    line-height: 100%;
    margin-right: 15px;
}

p.description {
    text-align: left;
    margin-left: 10px;
}

.labels {
  font-size: 11pt;
  font-variant-caps: all-petite-caps;
}

.timeago {
    font-weight: bold;
}


/*
=====================================================================
   Links
=====================================================================
*/

a.link:link {
    color: #2715D6FF;
    text-decoration: none;
}

a.link:hover {
    text-decoration: underline;
}


/*
=====================================================================
   Table
=====================================================================
*/

caption {
    font-weight: bold;
    font-size: 10pt;
    text-align: left;
}

#table {
    table-layout: auto;
    width: fit-content !important;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-collapse: collapse;
    font-size: 10pt;
}

th, td {
    padding-left: 3pt;
    padding-right: 5pt;
    padding-top: 2pt;
    padding-bottom: 2pt;
    border: 1pt solid #808080;
    font-size: 10pt;
}

.header-row {
  font-variant-caps: small-caps;
  text-align: center;
  font-size: 12pt;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
}

/* Format every other row for easier scanning */
#table tbody tr:nth-child(odd) {
    font-weight: bold;
    background-color: rgba(128, 128, 128, 0.123);
    font-size: larger;

}

#table tbody tr:hover {
    background-color: rgba(59, 59, 59, 0.253);
}

#table thead th {
    /*
    Override dataTables default where text columns were left-aligned
    and numeric columns were right-aligned.
    */
    text-align: left;
}

/* Filter row cells */
#table thead tr:nth-child(2) th {
    padding: 3pt 3pt;
    text-transform: lowercase;
}

#table thead tr:nth-child(2) th input::placeholder {
    font-style: italic;
    color: #aaa;
    text-transform: lowercase;
}

/* Filter row inputs */
#table thead tr:nth-child(2) th input {
    display: block;
    width: 100%;
    padding-left: 1pt !important;
    padding-right: 1pt;
    min-width: 0;
    box-sizing: border-box;
    font-size: 10pt;
    text-align: left;
}
