<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">

    <title>{{title}}</title>

    <!--link to css files-->
    {% for style in css_styles %}
    <link rel="stylesheet" type="text/css" href="{{style}}"/>
    {% endfor %}

    <!--add connection to javascript plug-ins-->
    {% for js in javascripts %}
    <script type="text/javascript" src="{{js}}"></script>
    {% endfor %}

    <!--
    Add script to start plug-ins here. These will be run whenever the document
    is loaded/read
    -->
    <script>
        jQuery(document).ready(function() {
            jQuery("time.timeago").timeago();

            jQuery("#table").DataTable({
                paging: false,
                autoWidth: false,
                initComplete: function () {
                    this.api().columns().every(function (colIdx) {
                        var column = this;
                        var filterCell = jQuery('#table thead tr').eq(1).find('th').eq(colIdx);
                        jQuery('<input type="search" placeholder="' + jQuery(column.header()).text() + '" />')
                            .appendTo(filterCell.empty())
                            .on('click', function (e) { e.stopPropagation(); })
                            .on('input', function () {
                                if (column.search() !== this.value) {
                                    column.search(this.value).draw();
                                }
                            });
                    });
                }
            });
        });
    </script>
</head>

<body>
    <div class="content theme-l5">
        <h1 id="page-title" class="theme-d1">{{title}}</h1>
        <div id="navbar" class="theme-d5">
        {% for category in categories %}
            <div class="dropdown">
                <button class="dropbtn theme-d5 hover-theme">{{category}}</button>
                <div class="dropdown-content">
                {% for k in range(categories[category][0]|length) %}
                    <a class="theme-d4 hover-theme" href="{{categories[category][1][k]}}">{{categories[category][0][k]}}</a>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
        <h2 class="header2">Description</h2>
        <p class="description">{{description}}</p>
<div class="table-container">
            <table id="table">
                <caption>{% if caption =='' %}Click any header to sort table by that column{% else %}{{caption}}{% endif %}</caption>
                <thead class="header-row">
                    <tr>{% for header in headers %}<th class="header-row">{{header}}</th>{% endfor %}</tr>
                    <tr>{% for header in headers %}<th>{{header}}</th>{% endfor %}</tr>
                </thead>
                <tbody>
                    {% for row in rows %}
                        <tr>{% for cell in row %}
                            {% if cell|has_link %}
                                {% if cell[0] is none %}
                                    <td></td>
                                {% else %}
                                    {% if cell[1] is none %}
                                        <td>{{cell[0]}}</td>
                                    {% else %}
                                        <td><a class="link" href="{{cell[1]}}">{{cell[0]}}</a></td>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                {% if cell is not none %}
                                    <td>{{cell}}</td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}</tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
    <footer id="footer" class="theme-d5">
        <p class="right">Last updated: {{updated}}<br>
        <time class="timeago" datetime="{{updated}}" title="{{updated}}"></time>
          </p>
    </footer>
</body>
</html>
